<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.andrehaueisen.listadejanot"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".a_application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <provider
            android:name=".c_database.PoliticiansContentProvider"
            android:authorities="com.andrehaueisen.listadejanot.politicians"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".d_search_politician.mvp.PoliticianSelectorPresenterActivity"
            android:label="@string/title_activity_main_list"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name=".e_search_politician.mvp.PoliticianSelectorPresenterActivity" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".e_information.mvp.InformationPresenterActivity"
            android:parentActivityName=".d_search_politician.mvp.PoliticianSelectorPresenterActivity"/>

        <activity
            android:name=".f_login.LoginActivity"
            android:parentActivityName=".d_search_politician.mvp.PoliticianSelectorPresenterActivity"/>

        <activity
            android:name=".g_user_vote_list.mvp.UserVoteListPresenterActivity"
            android:parentActivityName=".d_search_politician.mvp.PoliticianSelectorPresenterActivity"/>

        <activity android:name=".h_opinions.OpinionsActivity"/>

        <activity android:name=".i_main_lists.mvp.MainListsPresenterActivity"/>

        <service
            android:name=".a_application.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".a_application.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.andrehaueisen.listadejanot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1698727047098274"
            android:exported="true"/>

    </application>

</manifest>