<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.andrehaueisen.listadejanot"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".a_application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"
                   tools:replace="android:value"
                   />

        <provider
            android:name=".c_database.PoliticiansContentProvider"
            android:authorities="com.andrehaueisen.listadejanot.politicians"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".d_main_list.mvp.MainListPresenterActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_main_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".e_search_politician.mvp.PoliticianSelectorPresenterActivity"/>

        <activity android:name=".f_information.mvp.InformationPresenterActivity"/>

        <activity android:name=".g_login.LoginActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.andrehaueisen.listadejanot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

    </application>

</manifest>